.audio-clip-bar {
  @include flexbox(row, space-between, center);
  height: 75px;
  padding: 0 25px;
  border-bottom: 1px solid #eeeeee;

  &__play-icon {
    flex: 0;
  }
  &__clip-title {
    flex: 1;
    padding-left: 50px;
  }
  &__clip-tags {
    flex: 1;
    text-align: right;
    p {
      font-size: 12px;
      display: inline;
      margin-left: 10px;
      background-color: #eeeeee;
      padding: 5px 10px;
      border-radius: 10px;
      color: #a4a4a4;
    }
  }
}