.audio-clip-bar {
  @include flexbox(row, space-between, center);
  min-height: 90px;
  padding: 20px 25px 0;
  border-bottom: 1px solid #eeeeee;

  @media (max-width: $LESS_THAN_MD) {
    display: block;
  }

  &__play-icon {
    flex: 0 1 30px;

    svg {
      width: 40px;
    }

    @media (max-width: $LESS_THAN_MD) {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__clip-title {
    flex: 1;
    padding: 0 75px 0 50px;

    &-season-episode {
      font-weight: $NORMAL_WEIGHT;
      margin: 0 0 .5em 0;
    }

    @media (max-width: $LESS_THAN_MD) {
      display: table-cell;
      vertical-align: middle;
      padding-left: 25px;
      padding-right: 0;
    }
  }

  &__clip-tags {
    flex: 2;
    text-align: right;

    @media (max-width: $LESS_THAN_MD) {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 25px;
    }

    p {
      font-size: 0.567em;
      cursor: pointer;
      display: inline;
      margin-left: 10px;
      background-color: #eeeeee;
      padding: 5px 10px;
      border-radius: 10px;
      color: #a4a4a4;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      line-height: 30px;

      @media (max-width: $LESS_THAN_MD) {
        margin: 0 10px 0 0;
      }

      &:hover {
        color: #000000;
      }
    }
  }
}

.search-clip-wrapper {
  &__search {
    text-align: center;
    width: 400px;
    height: 50px;
    @include flexbox(row, space-between, center);
    margin: 0 auto 25px auto;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04);
    background-color: white;
    border-radius: 5px;
    z-index: 997;
    min-width: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;

    @media (max-width: $LESS_THAN_MD) {
      text-align: center;
      margin: 25px auto;
      width: 75vw;
    }

    i {
      color: #a4a4a4;
      padding: 0 10px;
    }

    .clear-search {
      i {
        color: #a4a4a4;
        cursor: pointer;
      }
    }

    .search-input {
      padding: 0 10px;
      height: 100%;
      width: 100%;
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-size: 14px;
    }
  }
}