.soundboard-wrapper {
  width: 100%;

  @media (max-width: 1440px) {
    width: 100vw;
  }

  .soundboard {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    min-height: 400px;
    padding: 50px 10px;
      @media (max-width: $LESS_THAN_SM) {
        margin: 0 auto;
        padding: 10px;
      }

      * {
        flex: 0 0 calc(25% - 10px);
        margin: 5px;
        min-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.03), 0 6px 30px 5px rgba(0,0,0,0.02), 0 8px 10px 0 rgba(0,0,0,0.04);

        @media (max-width: $LESS_THAN_MD) {
          flex: 0 0 calc(50% - 10px);
        }

        @media (max-width: $LESS_THAN_SM) {
          min-height: 200px;
        }

        &:hover {
          opacity: .75;
        }
      }

      &__bill-cravey {
        background-image: url("../img/bill-cravey.png");
      }

      &__howard-levis {
        background-image: url("../img/howard-levis.png");
      }

      &__todd-padre {
        background-image: url("../img/todd-padre.png");
      }

      &__sam-weatherman {
        background-image: url("../img/sam-weatherman.png");
      }
  }
}