@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,400,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
body, html {
  margin: 0 !important;
  padding: 0 !important; }

a {
  transition: .2s all;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.soundboard-wrapper {
  width: 100%; }
  @media (max-width: 1440px) {
    .soundboard-wrapper {
      width: 100vw; } }
  .soundboard-wrapper .soundboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
    padding: 50px 10px; }
    @media (max-width: 575.98px) {
      .soundboard-wrapper .soundboard {
        margin: 0 auto;
        padding: 10px; } }
    .soundboard-wrapper .soundboard * {
      flex: 0 0 calc(25% - 10px);
      margin: 5px;
      min-height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04); }
      @media (max-width: 767.98px) {
        .soundboard-wrapper .soundboard * {
          flex: 0 0 calc(50% - 10px); } }
      @media (max-width: 575.98px) {
        .soundboard-wrapper .soundboard * {
          min-height: 200px; } }
      .soundboard-wrapper .soundboard *:hover {
        opacity: .75; }
    .soundboard-wrapper .soundboard__bill-cravey {
      background-image: url("../img/bill-cravey.png"); }
    .soundboard-wrapper .soundboard__howard-levis {
      background-image: url("../img/howard-levis.png"); }
    .soundboard-wrapper .soundboard__todd-padre {
      background-image: url("../img/todd-padre.png"); }
    .soundboard-wrapper .soundboard__sam-weatherman {
      background-image: url("../img/sam-weatherman.png"); }

.audio-clip-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 20px 25px 0;
  border-bottom: 1px solid #eeeeee; }
  @media (max-width: 767.98px) {
    .audio-clip-bar {
      display: block; } }
  .audio-clip-bar__play-icon {
    flex: 0; }
    .audio-clip-bar__play-icon svg {
      width: 40px; }
    @media (max-width: 767.98px) {
      .audio-clip-bar__play-icon {
        display: table-cell;
        vertical-align: middle; } }
  .audio-clip-bar__clip-title {
    flex: 1;
    padding: 0 75px 0 50px; }
    .audio-clip-bar__clip-title-season-episode {
      font-weight: 400;
      margin: 0 0 .5em 0; }
    @media (max-width: 767.98px) {
      .audio-clip-bar__clip-title {
        display: table-cell;
        vertical-align: middle;
        padding-left: 25px;
        padding-right: 0; } }
  .audio-clip-bar__clip-tags {
    flex: 2;
    text-align: right; }
    @media (max-width: 767.98px) {
      .audio-clip-bar__clip-tags {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 25px; } }
    .audio-clip-bar__clip-tags p {
      font-size: 0.567em;
      cursor: pointer;
      display: inline;
      margin-left: 10px;
      background-color: #eeeeee;
      padding: 5px 10px;
      border-radius: 10px;
      color: #a4a4a4;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      line-height: 30px; }
      @media (max-width: 767.98px) {
        .audio-clip-bar__clip-tags p {
          margin: 0 10px 0 0; } }
      .audio-clip-bar__clip-tags p:hover {
        color: #000000; }

.search-clip-wrapper__search {
  text-align: center;
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  border-radius: 5px;
  z-index: 997;
  min-width: 250px;
  position: -webkit-sticky;
  position: sticky;
  top: 15px; }
  @media (max-width: 767.98px) {
    .search-clip-wrapper__search {
      text-align: center;
      margin: 25px auto;
      width: 75vw; } }
  .search-clip-wrapper__search i {
    color: #a4a4a4;
    padding: 0 10px; }
  .search-clip-wrapper__search .clear-search i {
    color: #a4a4a4;
    cursor: pointer; }
  .search-clip-wrapper__search .search-input {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px; }

@media screen and (min-width: 50em) {
  :root {
    font-size: 2vw; } }
@media screen and (min-width: 75em) {
  :root {
    font-size: 1.4em; } }
h1,
h2,
h3,
h4,
li,
p {
  font-family: "Roboto", sans-serif; }

h5,
h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin: .5em 0; }

h1 {
  font-size: 6.667em; }

.header-one h1 {
  font-size: 6.667em; }

h2 {
  font-size: 2.533em; }

.header-two h2 {
  font-size: 2.533em; }

h3 {
  font-size: 1.667em; }

.header-three h3 {
  font-size: 1.667em; }

h4 {
  font-size: 1.2em; }

.header-four h4 {
  font-size: 1.2em; }

h5 {
  font-size: 0.933em; }

.header-five h5 {
  font-size: 0.933em; }

h6 {
  font-size: 0.733em; }

.header-six h6 {
  font-size: 0.733em; }

p {
  font-size: 0.7em; }

.paragraph p {
  font-size: 0.7em; }

.app {
  max-width: 1440px;
  margin: 0 auto 100px auto; }
  .app .info-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 998;
    position: fixed;
    left: 0;
    top: 0; }
    .app .info-modal__inner {
      width: 50%;
      padding: 50px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04);
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
      @media (max-width: 575.98px) {
        .app .info-modal__inner {
          width: 75%;
          padding: 25px; } }
  .app .info-icon {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04);
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 999; }
    @media (max-width: 575.98px) {
      .app .info-icon {
        width: 35px;
        height: 35px; } }
    .app .info-icon:hover i {
      color: black; }
    .app .info-icon i {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      font-size: 16px;
      color: #a4a4a4;
      transition: .2s all; }
  .app .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px 0 rgba(0, 0, 0, 0.04);
    width: 100vw;
    text-align: center; }
    .app .footer h6 {
      display: inline;
      line-height: 50px;
      font-weight: 400 !important;
      font-size: 14px; }
    .app .footer a {
      color: black; }

/*# sourceMappingURL=style.css.map */
