@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,400,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
body, html {
  margin: 0; }

a {
  transition: .2s all;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.soundboard-wrapper {
  width: 1440px;
  height: 100vh;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .soundboard-wrapper {
      width: 100vw; } }
  .soundboard-wrapper .soundboard {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 600px;
    overflow: hidden;
    display: none; }
    .soundboard-wrapper .soundboard__logo {
      width: 1000px;
      height: 100%;
      background-image: url("../img/tl-logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
      @media (max-width: 1440px) {
        .soundboard-wrapper .soundboard__logo {
          display: none; } }
    .soundboard-wrapper .soundboard .soundboard-teachers {
      width: 440px;
      height: 100%; }
      @media (max-width: 575.98px) {
        .soundboard-wrapper .soundboard .soundboard-teachers {
          width: 95vw;
          margin: 0 auto; } }
      .soundboard-wrapper .soundboard .soundboard-teachers * {
        display: inline-block;
        height: calc(50% - 5px);
        width: calc(50% - 10px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 10px; }
        @media (max-width: 575.98px) {
          .soundboard-wrapper .soundboard .soundboard-teachers * {
            margin-left: 0px; }
            .soundboard-wrapper .soundboard .soundboard-teachers *:nth-child(even) {
              margin-left: 20px; } }
        .soundboard-wrapper .soundboard .soundboard-teachers *:nth-child(-n+2) {
          margin-bottom: 5px; }
        .soundboard-wrapper .soundboard .soundboard-teachers *:nth-child(n+3) {
          margin-top: 5px; }
      .soundboard-wrapper .soundboard .soundboard-teachers__bill-cravey {
        background-image: url("../img/bill-cravey.png"); }
      .soundboard-wrapper .soundboard .soundboard-teachers__howard-levis {
        background-image: url("../img/howard-levis.png"); }
      .soundboard-wrapper .soundboard .soundboard-teachers__todd-padre {
        background-image: url("../img/todd-padre.png"); }
      .soundboard-wrapper .soundboard .soundboard-teachers__sam-weatherman {
        background-image: url("../img/sam-weatherman.png"); }

.audio-clip-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 25px;
  border-bottom: 1px solid #eeeeee; }
  .audio-clip-bar audio {
    filter: sepia(100%) saturate(0) contrast(100%) invert(0%) brightness(1);
    -webkit-filter: sepia(100%) saturate(0) contrast(100%) invert(0%) brightness(1); }
  .audio-clip-bar__play-icon {
    flex: 0 35px; }
  .audio-clip-bar__clip-title {
    flex: 1;
    padding-left: 50px; }
  .audio-clip-bar__clip-tags {
    flex: 2;
    text-align: right; }
    .audio-clip-bar__clip-tags p {
      cursor: pointer;
      font-size: 12px;
      display: inline;
      margin-left: 10px;
      background-color: #eeeeee;
      padding: 5px 10px;
      border-radius: 10px;
      color: #a4a4a4;
      white-space: nowrap; }
      .audio-clip-bar__clip-tags p:hover {
        color: #000000; }

.search {
  text-align: center;
  border-bottom: 2px solid #eeeeee;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
  .search i {
    color: #a4a4a4; }
  .search .clear-search i {
    color: #a4a4a4;
    cursor: pointer; }
  .search .search-input {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px; }

@media screen and (min-width: 50em) {
  :root {
    font-size: 2vw; } }
@media screen and (min-width: 75em) {
  :root {
    font-size: 1.4em; } }
h1,
h2,
h3,
h4,
li,
p {
  font-family: "Roboto", sans-serif; }

h5,
h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700; }

h1 {
  font-size: 6.667em; }

.header-one h1 {
  font-size: 6.667em; }

h2 {
  font-size: 2.533em; }

.header-two h2 {
  font-size: 2.533em; }

h3 {
  font-size: 1.667em; }

.header-three h3 {
  font-size: 1.667em; }

h4 {
  font-size: 1.2em; }

.header-four h4 {
  font-size: 1.2em; }

h5 {
  font-size: 0.933em; }

.header-five h5 {
  font-size: 0.933em; }

h6 {
  font-size: 0.733em; }

.header-six h6 {
  font-size: 0.733em; }

p {
  font-size: 0.867em; }

.paragraph p {
  font-size: 0.867em; }

/*# sourceMappingURL=style.css.map */
